* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e0e0e0;
  padding: 20px 40px;
}


.nav {
  display: flex;
  gap: 20px; /* espace entre Accueil / Contacts / Ajouter */
}
.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}


.hero {
  max-width: 600px;
  margin: 80px auto;
  text-align: left;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 16px;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
.video-text {
  margin-top: 40px;
  font-size: 14px;
}
.contacts {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.contacts h2 {
  margin-bottom: 30px;
}

.contacts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}